/* Select the main container 'div' element */
.main-container {
    border-style: solid;
    border-width: 2px;
    border-color: white;
    padding: 10px;
    background: #F2D8B3;
    opacity: 0.5;
}
/* Select all h1 elements. */
h1 {
    color: #D76735;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: white;
}
h2 {
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: white;
}
h3 {
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: white;
}
#yellow {
  color: #FBD266;
}
#blue {
  color: #8FB0A9
}
hr {
  margin: 30px 0;
}
.graphic-1 {
  float: right;
}
.graphic-2 {
  float: left ;
}
.graphic-3 {
  align: center;
  height: 50%;
}
