body {
  background-image: url("./images/graphic-3.jpg");
  border-style: solid;
  border-width: 2px;
  border-color: white;
}
p {
  border-style: solid;
  border-width: 2px;
  border-color: white;
  padding: 10px;
  background: #F2D8B3
}
middle {
  margin:auto;
}
half-size {
  width:50%;
}
padded {
  padding:2px;
}
img {
  width: 40%;
  margin:auto;
  align: center;
}
h1 {
  color:#D76735;
  font-family: fantasy;
  font-size: 300%;
  text-align: center;
}
h2 {
  color:#FBD266;
  font-family:georgia;
  font-size: 150%;
  text-align: center;
}
h3 {
  color:#8FB0A9;
  font-family:courier;
  font-size: 100%;
  text-align: center;
}
