body {
   background-color: #a5d2cf;
}
h1 {
  font-family: 'dancing script', 'satisfy', cursive;
  font-size: 72pt;
  font-weight: normal;
  color:
  text-align: center;
}
h2 {
  font-family: 'oswald', 'anton', sans-serif;
  font-size: 36pt;
  font-weight: normal;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  padding: 2pt;
  background-color: #000000;
  background opacity: 0.5;
}
h3 {
  font-family: 'century gothic', 'CenturyGothic', 'AppleGothic', sans-serif;
  font-size:36pt;
  font-weight: bold;
  color:
  text-transform: uppercase;
  text-align: center;
}
h4 {
  font-family: 'Georgia', 'Times', 'Times New Roman', serif;
  font-size: 18pt;
  font-weight: normal;
  font-style: italic;
  color:
  text-transform: ;
  text-align: center;
}
.main-content {
  font-family: 'Georgia', 'Times', 'Times New Roman', serif;
  font-size: 12pt;
  font-weight: lighter;
  color: #ffffff;
  line-height: 2;
  text-align: center;
  text-indent: -1.5em;
  padding: 2pt;
  background-color: #ec3642;
}
.main-content p:first-child::first-letter {
   font-family: 'Kumar One Outline', cursive;
   font-size: 18pt;
   font-weight: bold;
}
a:hover {
   color: #1CCDCA;
   font-style: italic;
