body {
  background-color: #a5d2cf;
}
h1 {
  font-family:'Mansalva', cursive;
  font-size: 72pt;
  font-weight: normal 400;
  color: #000000;
  font-style: ;
  text-transform: uppercase;
  text-align: center;
}
h2 {
  font-family:'Lato', sans-serif;
  font-size: 30pt;
  font-weight: black 900;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  padding: 2pt;
  background-color: #000000; opacity: 0.5;
}
h3 {
  font-family:'Lato', sans-serif;
  font-size:36pt;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}
h4 {
  font-family:'Playfair Display', serif;
  font-size: 18pt;
  font-weight: normal 400;
  color:#000000;
  text-align: center;
}
p {
  text-align: center;
}
.main-content {
  align-items: center;
  font-family:'Lato', sans-serif;
  font-size: 12pt;
  font-weight: lighter 300;
  color: #ffffff;
  line-height: 2;
  text-align: center;
  padding: 10pt;
  background-color: #ec3642;
}
.main-content p::first-letter{
  font-family:'Playfair Display', serif;
  font-size: 18pt;
  font-weight: black 900;
}
a:hover {
  color: #ec3642;
}
.half-size {
  width: 75%;
}
.middle {
  margin: auto;
}
