.parent-container {
  width: 100%;
  min-width: 400px;
  max-width: 600px;
  height: 100%;
  border: ;
  padding: 10px;
  margin: 10px;
  background-color: ;
}
.parent-container h1 {
  font-size: x-large;
  font-weight: bolder;
  font-style: ;
}
.parent-container h2 {
  font-size: x-large;
  font-weight: bolder;
  font-style: ;
}
.inner-box {
  width: 100%;
  height: 50px;
  border: ;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: ;
}
.outer-box {
  width: 100%;
  height: ;
  border: ;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: ;
}
div {
    border: 2px double #623529;
}
.hiden-content {
    display: none;
}
.parent-container:hover .hidden-content {
    display: block;
}
