@font-face {
font-family: 'Grand Hotel',cursive, serif;
src: url('../fonts/GrandHotel-Regular.ttf');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Amatic SC',sans-serif;
src: url('../fonts/AmaticSC-Bold.ttf');
font-weight: bold;
font-style: normal;
}
@font-face {
font-family: 'Calistoga', display, serif;
src: url('../fonts/Calistoga-Regular.ttf');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Quicksand', cursive, sans-serif;
src: url('../fonts/Quicksand-Light.ttf');
font-weight: light;
font-style: normal;
}
