/* Style the page: */
body {
  font-family: Quicksand;
  font-size: 22pt;
  color: #744b29;
    margin: 0;
    padding: 0;
    background-color: lightcoral;
}
/* Style the Headings */
h1 {
  font-family: Grand Hotel;
  font-size: 72pt;
  color: #d96459;
  align: center;
}
h2 {
  font-family: Amatic SC;
  font-size: 58pt;
  font-weight: bold;
  color: #d96459;
  align: center;
}
h3  {
  font-family: Calistoga;
  font-size: 48pt;
  color: #faffc6;
  align: center;
}
h4 {
  font-family: Quicksand;
  font-size: 40pt;
  text-transform: uppercase;
}
/* Style the Main Content: */
.title {
  font-family: Grand Hotel;
  color: #d96459;
  font-size: 48pt;
}
.subtitle {
  font-family: Calistoga;
  color: #e06377;;
  font-size: 32pt;
}
.site-name {
    float: center;
    padding: 1em;
    align: center;
}
.site-slogan {
  align: center;
}
.site-logo {
  height: 3em;
  float: left;
}
.parent-container {
  width: 100%;
  background-color: lightcoral
}
.main-container {
    width: 75%;
    align-items: center;
    margin-top: 10em;
    padding: 2em;
    line-height: 1.4em;
    background-color: ;
    border: white dotted 2px;
}
