/* Style the page: */
body {
  font-family: Quicksand;
  font-size: 16pt;
  color: #744b29;
    margin: 0;
    padding: 0;
    background-color: lightcoral;
}
/* Style the Headings */
h1 {
  font-family: GrandHotel;
  font-size: 60pt;
  color: #d96459;
  align: center;
}
h2 {
  font-family: AmaticSC;
  font-size: 48pt;
  color: #d96459;
  align: center;
}
h3  {
  font-family: Calistoga;
  font-size: 32pt;
  color: #faffc6;
  align: center;
}
/* Style the Main Content: */
.site-name {
    float: center;
    padding: 1em;
}
.site-slogan {
  align: center;
}
.site-logo {
  height: 3em;
  float: left;
}
.main-container {
    margin-top: 5em;
    padding: 1em;
    line-height: 1.4em;
}
