/*-------------------------
| CSS for Navigation Menu |
-------------------------*/

/* MENU BAR (CONTAINER): */
menu {
  margin: 0;
  padding: 1em;
  background-color: Peru;
}

/* TOP-LEVEL LINKS: */
#navigation {

}
#site-links .menu-item {
  width: 6em;
  padding: .5em 1em;
  display: inline-block;
  background-color: rgb(205, 133, 63, 0.5);
  text-align: center;
  color: White;
}
#site-links .menu-item:hover {
  color: PeachPuff;
  background-color: PaleVioletRed;
  text-decoration: underline overline;
  text-decoration-color: Peru;
  text-decoration-style: dotted;
}
/* DROPDOWN: */
#site-links .sister-site {
  width: 6em;
  padding: .5em 1em;
  display: default;
  position: absolute;
  margin: ;
  color: White;
  background-color: PaleVioletRed;
  z-index: 1;
}
#site-links .sister-site:hover {
  color: PaleVioletRed;
  background-color: Peru;
}

/* SOCIAL MEDIA ACCOUNTS: */
#social-links {

}
