header-1{
    position: fixed;
    background-color: #8B0000;
}
header-2{
    position: fixed;
    background-color: #fff;
    font-family: sans-serif;
    font-size: 12pt;
    text-align: right;
    text-transform: uppercase;
    padding: ;
}
.menu-item a {
    color: #8B0000;
}
.menu-item:hover {
    background-color: #fff;
    color: #8B0000;
}
.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    border: 1px solid #000;
    margin: ;
    color: #fff;
    background-color: #8B0000;
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-item {
    display: block;
    text-align: center;
    margin: ;
    padding: ;
    min-width: ;
}
.dropdown-item:hover{
    color: #8B0000;
    background-color: #fff;
}
main-container{
  width: ;
  height: ;
  border: ;
  padding: ;
  margin: ;
  background-color: #fff;
}
.text-box{
  width: ;
  height: ;
  border: ;
  padding: ;
  margin: ;
  background-color: #8FBC8F ;
  color: #fff
}
.img-left{
  float: left;
}
.img-right{
  float: right;
}
